.poem-list-container{
    margin-top: 8vh;
}

.poem-list-row-one{
    margin-bottom: 2vh;
}

.poem-list-row-two{
    margin-bottom: 1vh;
}

@media only screen and (max-width: 576px) {
    .poem-list-container{
        margin-top: 1vh;
    }
}
