.poem-details-card{
    min-height: 35vh;
    max-height: 50vh;
    max-width: 15vw;
    cursor: pointer;
}
    .poem-details-card:hover{
        background-color: rgb(245, 245, 245);
        transform: scale(1.01, 1.01);
        transition: 100ms;
    }

.poem-title{
    font-size: 20px;
}

.poem-author{
    color: rgb(80, 80, 80);
    font-size: 13px;
}

.card-bookmark-icon{
    margin-bottom: 1vh;
    max-width: max-content;
    max-height: max-content;
}
    .card-bookmark-icon:hover{
        transform: scale(1.01, 1.01);
        opacity: 0.5;
    }

@media only screen and (max-width: 574px) {
    .poem-details-card{
        font-size: small;
        min-height: 10vh;
        min-width: 80vw;
    }

    .poem-title{
        font-size: 18px;
    }
}

@media only screen and (min-width: 574px) and (max-width: 768px) {
    .poem-details-card{
            font-size: small;
            min-height: 10vh;
            min-width: 30vw;
    }
}
