.site-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1vh;
    padding-bottom: 1vh;
    border-bottom: rgb(230, 230, 230) solid 1px;
}

#site-name{
    margin-left: 5vw;
    cursor: pointer;
}

#navigation-container{
    margin-right: 35vw;
}

#nav-search{
    width: 18vw;
    height: 6vh;
}

button{
    margin-left: 1vw;
}

@media only screen and (max-width: 576px) {
    #site-name{
        font-size: large;
        margin-top: 1vh;
    }

    #navigation-container{
        margin-right: 5vw;
    }
    
    #nav-search{
        width: 25vw;
        height: 4vh;
        margin-left: 2vw;
    }

    .nav-input-field::placeholder{
        font-size: 13px;
    }
}
